* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background: #3a9bdc;
    padding: 10px;
}

h1{
  background: red;
}

#content {
    max-width: 800px;
    width: 90%;
    margin: auto;
    background: rgba(255,255,255,0.75);
    border-radius: 10px;
    padding: 15px;
    min-height: 600px;
}

#front,
#location,
#hospital-pref,
#medical-issues,
#results {
    display: inline-block;
    height: 0;
    opacity: 0;
    width: 100%;
}

.visible {
    height: auto !important;
    opacity: 1 !important;
}
<<<<<<< HEAD

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #3a9bdc;
    width: 150px;
    font-size: 18px;
    color: white;
    outline: 0;
    cursor: pointer;
    display: inline-block;
}

button:first-child {
    float: left;
}

button:last-child {
    float: right;
}

button:hover {
    opacity: 0.75;
}

.buttons {
    display: block;
}
=======
>>>>>>> 59268a1d7d6caa0d42e306be5c24e206501ffde3
