* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3a9bdc;
    padding: 10px;
}

h1{
  background: red;
}

#content {
    max-width: 800px;
    width: 90%;
    margin: auto;
    background: rgba(255,255,255,0.75);
    border-radius: 10px;
    padding: 15px;
    min-height: 600px;
}

#front,
#location,
#hospital-pref,
#medical-issues,
#results {
    display: inline-block;
    height: 0;
    opacity: 0;
}

.visible {
    height: auto !important;
    opacity: 1 !important;
}
