<html>
<head>
  <title>Health Care</title>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/silos.css" />
</head>
<body>
  <div class="silo" id="silo-closest">
    <div class="body">
      Text
    </div>
  </div>
  <div class="silo" id="silo-quietest"></div>
  <div class="silo" id="silo-top-rated"></div>
  <div class="silo" id="silo-cleanist"></div>
  <script src="/vendor/jquery.min.js"></script>
  <script src="/scripts/toggle.js"></script>
</body>
</html>
