<html>
<head>
  <title>Health Care</title>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/silos.css" />
  <link rel="stylesheet" href="/styles/overlay.css" />
  <link rel="stylesheet" href="/styles/custom.css" />
  <link rel="stylesheet" href="/styles/map.css" />
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="/icons/favicon.png"/>
</head>
<body>
  <div class="silo" id="silo-closest">
    <div class="body">
      <span class="icon"></span>
      <h1>Closest</h1>
    </div>
  </div>

  <div class="silo" id="silo-quietest">
    <div class="body">
      <span class="icon"></span>
      <h1>Most Quiet</h1>
    </div>
  </div>

  <div class="silo" id="silo-cleanist">
    <div class="body">
      <span class="icon"></span>
      <h1>Most Clean</h1>
    </div>
  </div>

  <div id="overlay">
    <div id="map">
      <div id="map-inner"></div>
    </div>
    <div id="map-box">
      <table style="width:100%">
        <tr>
          <td id="firsttd">
          <div class="entry">
            <span class="score">1<span>
            <span class="name">Hospital<span>
            <span class="address">Adress</span>
          </div>
        </td>
        <td id="secondtd">
        <div class="entry">
          <span class="score">2<span>
          <span class="name">Hospital<span>
          <span class="address">Adress</span>
        </div>
      </td>
      <td id="thirdtd">
        <div class="entry">
          <span class="score">3<span>
          <span class="name">Hospital<span>
          <span class="address">Adress</span>
        </div>
      </td>
      </table>
    </div>
  </div>

  <!-- custom slider tab -->
  <div class="silo" id="silo-top-rated">
    <div class="body">
      <span class="icon"></span>
      <h1>Customize</h1>
    </div>
  </div>
  <div id="custom">
    <button class="hide" id="submit">Submit</button>
    <div class="hide" id="sliders">

    </div>
  </div>

  <!-- include vendor scripts -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQevMbn8KWLSiBZkySC7zjxFgyl6NO-fE&callback=onAboutReady"></script>
  <script async src="/vendor/jquery.min.js"></script>

  <!-- include scripts -->
  <script async src="/scripts/slider.js"></script>
  <script async src="/scripts/toggle.js"></script>
  <script async src="/scripts/map.js"></script>
</body>
</html>
