#overlay {
  position: absolute;
  left: 25vw;
  right: 0vw;
  top: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 2;
  background: rgba(255,255,255,0);
  transition: display 0s, background 0.25s;
  padding: 20px;
}

#overlay.active {
  visibility: visible;
  background: rgba(255,255,255,0.1);
}
