.silo {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 0;
  transition: 1s;
}

.silo .body {
  /* tmp */
  text-align: center;
  color: white;
}

#silo-closest {
  left: 0vw;
  right: 75vw;
  background: #2980b9;
}

#silo-quietest {
  left: 25vw;
  right: 50vw;
  background: #27ae60;
}

#silo-top-rated {
  left: 50vw;
  right: 25vw;
  background: #e74c3c;
}

#silo-cleanist {
  left: 75vw;
  right: 0vw;
  background: #34495e;
}

.silo.active {
  left: 0 !important;
  right: 0 !important;
  z-index: 1;
}
