.silo {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 0;
  transition: right 1s, left 1s;
  overflow: hidden;
}

.silo .body {
  position: absolute;
  left: 0;
  width: 25vw;
  transition: 0.5s transform;
  overflow: hidden;
  text-align: center;
  color: white;
}

.silo h1 {
  transition: 0.5s;
  color: rgba(255,255,255,0.65);
}

.silo .icon {
  margin-top: 350px;
  margin-bottom: 40px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center center;
  transition: 0.5s;
}

.silo:hover h1 {
  color: white;
}

.silo:hover .body .icon {
  transform: scale(1.35);
}

#silo-closest {
  left: 0vw;
  right: 75vw;
  background: #2980b9;
}

#silo-closest .icon {
  background-image: url(/icons/location.svg);
}

#silo-quietest .icon {
  background-image: url(/icons/quiet.svg);
}

#silo-top-rated .icon {
  background-image: url(/icons/top.svg);
}

#silo-cleanist .icon {
  background-image: url(/icons/clean.svg);
}

#silo-quietest {
  left: 25vw;
  right: 50vw;
  background: #27ae60;
}

#silo-top-rated {
  left: 50vw;
  right: 25vw;
  background: #e74c3c;
}

#silo-cleanist {
  left: 75vw;
  right: 0vw;
  background: #34495e;
}

.silo.active {
  left: 0 !important;
  right: 0 !important;
}
